<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet" />
  <link href="{% static "css/login.css" %}" type="text/css" rel="stylesheet" />
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" />

  <title>Shoe Store</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="{% static "/image/logo3.png" %}" alt="Logo" height="55" width="65">
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="">
          <a class="nav-link text-dark" href="/home/">Home</a>
        </li>
        <li class="">
          <a class="nav-link text-dark" href="/product/">Product</a>
        </li>
        <li class="">
          <a class="nav-link text-dark" href="/about/">About Us</a>
        </li>
      </ul>
    </div>
  
    <!-- <div class="navbar-nav ml-auto">
        <button href="#" class="btn-danger">Logout</button> 
    </div> -->
  </nav>
<body>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-4">
                <div class="container">
                    <div class="row">
                        {% for product in productinfo %}
                        <div class="col-md-4 mb-4">
                            <form method="get" action="/confirm/">
                                <input type="hidden" name="productid" value="{{ product.id }}" />
                                <div class="card bg-light mb-3" style="width: 18rem;">
                                    <img src="{% static '' %}images/{{product.id}}.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.Name}}</h5>
                                        <p class="card-text"><a>Description :</a>{{product.Description}}</p>
                                        <p class="card-text"><a>Price :</a>{{product.Price}}</p>
                                        <!-- <p class="card-text">{{product.Quantity}}</p> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h1>Order Details</h1>
                <form method="post" action="/confirm/">
                    {% csrf_token %}
                    <input type="text" id="Address" name="address" placeholder="Address" class="form-control"/><br><br>
                    <!-- <input type="number" id="contact" name="contact" placeholder="Contact No" class="form-control"/><br><br> -->
                    <!-- <input type="number" id="Price" name="Price" placeholder="Price" class="form-control"/><br><br> -->
                    <input type="number" id="Quantity" name="Quantity" placeholder="Quantity" class="form-control"/><br><br>
                    <button type="submit" id="addbtn" name="addbtn" class="btn btn-primary form-control">
                        Confirm
                    </button><br><br>
                </form>
            </div>
            <div class="col-4">
            </div> 
        </div>
    </div>
</body>
<!-- Footer -->
<footer class="bg-dark text-light p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: Shoes@example.com</p>
          <p>Phone: 7685995561</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="/home/">Home</a></li>
            <li><a href="/product/">Product</a></li>
            <li><a href="/about/">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>