<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/login.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" />

    <title>Shoe Store</title>
</head>

<body>
    <!-- <nav id="nav ">
        <div class="navItem">

        </div>
        <div class="navBottom ">
            <img src="{% static "/image/logo3.png" %}" alt="">
            <h3 class="menuItem">HOME</h3>
            <h3 class="menuItem">PRODUCT</h3>
            <h3 class="menuItem">ABOUT</h3>
        </div> -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="{% static "/image/logo3.png" %}" alt="Logo" height="55" width="65">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="">
                    <a class="nav-link text-dark" href="/home/">Home</a>
                </li>
                <li class="">
                    <a class="nav-link text-dark" href="/product/">Product</a>
                </li>
                <li class="">
                    <a class="nav-link text-dark" href="/about/">About Us</a>
                </li>
            </ul>
        </div>

        <!-- <div class="navbar-nav ml-auto">
            <button href="#" class="btn-danger">Logout</button>
        </div> -->
    </nav>

    <body>
        <br><br><br>
        <main class="page">
            <section class="shopping-cart dark">
                <div class="container">
                    <div class="block-heading">
                        <h2>Shopping Cart</h2>
                    </div>
                    <div class="content">
                        <div class="row">
                            {% for product in productinfo %}
                            <div class="col-md-12 col-lg-8">
                                <div class="items">
                                    <div class="product">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid mx-auto d-block image"
                                                    src="{% static '' %}images/{{product.id}}.png">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="col-md-5 product-name">
                                                            <div class="product-name">
                                                                <a href="#"></a>
                                                                <div class="product-info">
                                                                    <div>Name: <span
                                                                            class="value">{{product.Name}}</span></div>
                                                                    <div>Description: <span
                                                                            class="value">{{product.Description}}</span>
                                                                    </div>
                                                                    <div>Price: <span
                                                                            class="value">{{product.Price}}</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 quantity">
                                                            <label for="quantity">Quantity:</label>
                                                            <div>Quantity: <span
                                                                    class="value">{{product.Quantity}}</span></div>
                                                        </div>
                                                        <div class="col-md-3 price">
                                                            <span>120</span>
                                                        </div>
                                                        <!-- <form method="get" action="/deletebtn/">
                                                        <button type="submit" name="productid" class="btn btn-danger" value="{{product.id}}">delete</button></td>
                                                    </form> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-4">
                                    <button href="/buydetails/" id="addbtn" name="addbtn"
                                        class="btn btn-success">
                                        Buy
                                    </button><br><br>   
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>

</html>